<% content_for :scripts_and_styles do %>
  <link href="/css/impress.css" media="screen" rel="stylesheet" type="text/css" media="screen, projection" />
<% end %>

<div id="impress" class="impress-not-supported">
  <div class="fallback-message">
    <p>Your browser <b>doesn't support the features required</b> for this presentation, so you are being presented with a simplified version.</p>
    <p>For the best experience please use the latest <b>Chrome</b> or <b>Safari</b> browser. Firefox 10 (to be released soon) will also handle it.</p>
</div>

<div id="bored" class="step slide" data-x="-1000" data-y="-1500">
  <q>Do you want to create <b>websites</b> but have no idea where to start or what tools to use?</q>
</div>

<div class="step slide" data-x="0" data-y="-1500">
  <q>Wouldn't it be <strong>easy</strong> if there were a class that would <strong>teach</strong> you all of the fundamentals of creating and designing websites?</q>
</div>

<div class="step slide" data-x="1000" data-y="-1500">
  <q>If you are interested in such a class, <br><strong>you</strong> should attend:</q>
</div>

<div id="title" class="step" data-x="0" data-y="0" data-scale="4">
  <span class="try">Agile</span>
    <h1>Web Development<sup>*</sup></h1>
  <span class="footnote"><sup>*</sup> with rails</span>
  <span class="footnote float-right">instructed by Thomas Cioppettini</span>
</div>

<div id="its" class="step" data-x="850" data-y="3000" data-rotate="90" data-scale="5">
  <p>It's an <strong>experimental college</strong> <br/>
  course that teaches the basics of web development, and design with an introduction to   
  the <a href="http://rubyonrails.org">Ruby on Rails</a> <strong>web development</strong> framework.</p>
</div>

<div id="big" class="step" data-x="3500" data-y="2100" data-rotate="180" data-scale="6">
  <p>We take a <b>big</b> <span class="thoughts">field</span></p>
</div>

<div id="tiny" class="step" data-x="2825" data-y="2325" data-z="-3000" data-rotate="300" data-scale="1">
  <p>and <b class="focus">focus</b> on the important parts</p>
</div>

<div id="ing" class="step" data-x="3500" data-y="-850" data-rotate="270" data-scale="6">
  <p>So you can take your project <b>ideas</b> and turn them into a <b>reality</b></p>
</div>

<div id="imagination" class="step" data-x="6700" data-y="-300" data-scale="6">
  <p>the only <b>limit</b> is your <b class="imagination">imagination</b></p>
</div>

<div id="source" class="step" data-x="6300" data-y="2000" data-rotate="20" data-scale="4">
  <p>want to know more?</p>
  <q>Contact: eastar9@wfu.edu <b>or</b> thomas.cioppettini@gmail.com</q>
</div>

<div id="one-more-thing" class="step" data-x="6000" data-y="4000" data-scale="2">
  <p>Course begins Thursday February 9th at 4:00 *classroom tbd</p>
</div>

<div id="its-in-3d" class="step" data-x="6200" data-y="4300" data-z="-100" data-rotate-x="-40" data-rotate-y="10" data-scale="2">
  <p><span class="have">Hope</span> <span class="you">to</span> <span class="noticed">see</span> <span class="its">you</span> <span class="in">there</span>.</p>
  <span class="footnote">* if not have a nice <%= "Happy #{Time.now.strftime("%A")}" %> ;)</span>
</div>

<div id="overview" class="step" data-x="3000" data-y="1500" data-scale="10">
    </div>
</div>

<div class="hint">
    <p>Use a spacebar or arrow keys to navigate</p>
</div>

<script src="js/impress.js"></script>