<% content_for :scripts_and_styles do %>
<link href='http://fonts.googleapis.com/css?family=Vollkorn:400,700' rel='stylesheet' type='text/css'>
<link href="/css/bootstrap.css" media="screen" rel="stylesheet" type="text/css" media="screen, projection" />
<link href="/css/main.css" media="screen" rel="stylesheet" type="text/css" media="screen, projection" />
<% end %>
  <br>
<h1 class="intro">Hello, my name is Thomas Cioppettini</h1>
<h2 class="sub-intro">and</h2>
<h1 class="intro">I build beautiful web applications</h1>

<h2 class="sub-intro">with</h2>

<div class="tools">
	<img class="displayed html" src="images/HTML5_Logo.png">
	<img class="displayed" src="images/rails.png">
	<img class="displayed" src="images/coffeescript_logo.png">
	<img class="displayed ruby" src="images/ruby.png">	
</div>
  <br>
  <br>
<div class="break">
	<img src="images/split.gif">
</div>
  <br>
  <br>
<h1 class="intro">I live in Winston-Salem NC,<br> I teach a web development <a href="class">course</a> at 
	<img class="wake" src="images/wfu.png"></h1>
<h2 class="sub-intro">and</h2>
<h1 class="intro">I am working on a startup.</h1>
  <br>
  <br>

<div class="break">
	<img src="images/split.gif">
</div>
<br>
<br>  

<h1 class="intro">I occasionally do freelance work</h1>
<h2 class="sub-intro">and</h2>
<h1 class="intro">I am currently:</h1>
<div class="available">Available for hire</div>
<h1 class="intro">If you would like a quote</h1>
<h2 class="sub-intro">or</h2>
<h1 class="intro">would just like to chat<br>Contact me</h1>
<h2 class="sub-intro">at</h2>
<h1 class="intro">thomas.cioppettini@gmail.com</h1>
<h2 class="sub-intro">or</h2>
<h1 class="intro"><a href="https://twitter.com/#!/TomCiopp">Follow me on twitter</a></h1>
<!-- <div id='contact-box' class="group">
	<div class="span6 clear">
	  <form action="/send" method="post" class="well">
	    <label for="name">Your Name:</label>
	    <input type="text" class="span4" placeholder="John Smith...">
	    <label for="email">Your email address:</label>
	    <input type="email" class="span4" placeholder="email@example.com">
	    <label for="to">Your message:</label>
	    <textarea name="message" cols='30' rows="10"></textarea><br>
	    <button type="submit" class="btn" value="Send">Submit</button>
	  </form>
	</div>
</div> -->

<p class="align-right"><%= "Have a happy #{Time.now.strftime("%A")}!" %></p>
  <br>
  <br>