<!DOCTYPE html>

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title><%= @page_title %></title>
	<script src="js/analytics.js"></script>
	<% yield_content :scripts_and_styles %>
</head>
<body>
	<div class="container">
	  <%= yield %>
	</div>
</body>
</html>